::-webkit-scrollbar{
    width: 17px;
    background-color: black;
    color: aliceblue;
}



::-webkit-scrollbar-thumb{
    width: 15px;
    height: 10px;
    background-color: rgb(143, 165, 247);
    border-radius: 1px   
}